<app-loader loader *ngIf="loading" ></app-loader>

<div class='container-form'>
	<div class='wrapper'>
		<form [formGroup]='loginForm' (ngSubmit)='login()'>
			<h3 class='form-signin-heading'>Login here </h3>
			<hr class='colorgraph'><br>

			<input type='text' class='form-control' name='Username' placeholder='Username' required autofocus='' formControlName='username'
			/>
			<input type='password' class='form-control' name='Password' placeholder='Password' required formControlName='password' />
      <div class='infoForm' routerLink='/register'> No Account? Click here to create NEW </div>
			<button class='btn btn-lg btn-primary btn-block' name='Submit' value='Login' [disabled]="!loginForm.valid">Login</button>
		</form>
	</div>
</div>